@use '../util/' as *;


html{
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--font--montserrat);
}
@include breakpoint(large){
    .container{
        padding: 1.5625rem 5.875rem;
        &-px{
            padding:  0 5.875rem;
        }
        &-py{
            padding: 1.5625rem 0;
        }
        &-pxy{
            padding: 2.875rem ;
        }
    }
    
}
.button{
    
    padding: 1rem;
    margin: 1rem;
    font-size: var(--font-mid);
    background: linear-gradient( to right, var(--green) ,var(--turquoise));
    color: var(--white);
    text-decoration: none;
    
}

.title{
    color: var(--darkturqouise);
    font-size: var(--font-lg);
}
.corners{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition:  all ease-in-out 300ms ;
    &-notrans{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
}




