html{
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--font--montserrat);
}
.container{
    padding: 1.5625rem 5.875rem;
    &-px{
        padding:  0 5.875rem;
    }
    &-py{
        padding: 1.5625rem 0;
    }
}


