@use '../util/' as *;

h1,
h2,
h3 {
  font-family: var(--font--montserrat);
  margin-top: 0;
}
a,
a:visited, 
a:active{
    text-decoration: none;
}

p{
  margin: 0;
  padding: 0;
  color: var(--lightbrown);
  font-size: var(--font-sm);
}
//hide for tablet and mobile 
.hide-for-mobile{
  @include breakpoint-down(small){
    display: none;
  }
}
.hide-for-tablet{
  @include breakpoint-down(medium){
    display: none;
  }
}
//hide for desktop viewport widths
.hide-for-desktop{
  @include breakpoint-up(large){
    display: none;
  }
}