@use '../util/' as *;
.feature{
    &__text{
        align-items: center;
        justify-content: space-around;
        
        &__title{
            align-items: center;
            text-align: center;

            @include breakpoint(large){
                position: absolute;
                left: 38%;
                width: 30%; 
                  
            }
            &.container{
              @include breakpoint-down(medium){
                padding: 0;
              }  
            }
                      
        }
        &__body{
           @include breakpoint(large){
                width: 60%;
                 padding:  1rem 4rem;
                   text-align:center;
                   width: auto;
                   
                }
                @include breakpoint-down(medium){
                    text-align: center;
                    font-size: var(--font-sm);
                    padding: 1rem 0;
                }
                    
        }

    }
    &__grid{
        padding-top: 1rem;
        @include breakpoint-down(medium){
            grid-template-rows: repeat(1 ,1fr);
            width: inherit;
            height:15rem ;
            
        }
        @include breakpoint(large){
            //width: 52.125rem;
            height: 20rem;
            padding: 1.5625rem 5.875rem;
            align-items: center;
            grid-template-columns: repeat( 3, 1fr);
        }
        &__item{
                height: inherit;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                transition:  all ease-in-out 300ms ;
                background-color: var(--lightturquoise);
                &:hover{
                    transform: scale(1.05);
                }
                p{
                    font-size: var(--font-mid);
                     padding: 2rem;
                }
               
        }
    }
    &__icon{
        @include breakpoint-down(medium){
            width: 60%;
        }
            width: 50%;
            height: 30%;
            border-radius: 10px;
            background-color: var(--grey);
            margin: 1rem 2.5rem;
            padding: 1.5rem;
            > i{
                &::before{
                    color: var(--darkturqouise);
                    font-size: 4rem;
                    margin: 1.5rem;
                    font-size: 5rem;
                     margin: 1.5rem;
                    
                }
            }
        }
 
}

.card{
    display: grid;
    grid-template: 1fr;
    gap: 1.5rem;
}
