@use '../util/' as *;
.feature{
        &__text{
            text-align: center;
        align-items: center;
        justify-content: space-around;
        
        &__title{
            align-items: center;
            text-align: center;
            @include breakpoint(large){
                position: relative;
                left: 38%;
                width: 30%; 
                  
            }              
        }
        &__body{
            padding-bottom: 1rem;
           @include breakpoint(large){
                //width: 60%;
                 padding:  1rem 4rem;
                   text-align:center;
                   align-items: center;
                   //width: auto;
                   
                }
                @include breakpoint-down(medium){
                    text-align: center;
                    padding: 2.75rem;

                }
            }
        }
    &__grid{
        padding-top: 1rem;
        @include breakpoint-down(medium){
            grid-template-rows: repeat(1 ,1fr);
            width: inherit;

            //height:15rem ;
            
        }
        @include breakpoint(large){
            width: 52.125rem;
            height: 20rem;
            padding: 1.5625rem 5.875rem;
            align-items: center;
            grid-template-columns: repeat( 3, 1fr);
        }
        &__item{
                background-color: var(--lightturquoise);
                &:hover{
                    transform: scale(1.05);
                }
                p{
                    font-size: var(--font-mid);
                     padding: 2rem;
                     text-align: center;
                }
           }
        }
    &__icon{
        position: relative;
        width: 50%;
        height: 30%;
        border-radius: 10px;
        background-color: var(--grey);
        margin: 1rem 2.5rem;
        padding: 1.5rem;
        @include breakpoint-down(medium){
            margin: 1rem auto;
        }
            > i{
                &::before{
                    color: var(--darkturqouise);
                       font-size: 5rem;
                       //margin: 2.5rem;
                       @include breakpoint(medium){
                           margin: 1.5rem;
                       }
                }
            }
        }
 
}

.card{
    display: grid;
    grid-template: 1fr;
    gap: 1.5rem;
}
