@use '../util/' as *;
.feature{
    &__text{
        align-items: center;
        justify-content: space-around;
        
        &__title{
            color: var(--darkturqouise);
            font-size: var(--font-lg);
            align-items: center;
            text-align: center;

            @include breakpoint(large){
                position: relative;
                left: 38%;
                width: 30%; 
                  
            }
                      
        }
        &__body{
            width: 60%;
            left: 50%;
                @include breakpoint(large){
                    padding:  0 4rem;
                   text-align:center;
                   
                }
                    text-align: left;
                    padding-top: 2.75rem;
        }
    }
 
}
.container{
    padding: 1.5625rem 5.875rem;
}