@use '../util/' as *;
.feature{
    background-color:var(--lightgrayishblue);

        &__text{
            text-align: center;
        align-items: center;
        justify-content: space-around;
        
        &__body{
            padding-bottom: 1rem;
           @include breakpoint(large){
                //width: 60%;
                 padding:  1rem 4rem;
                   text-align:center;
                   align-items: center;
                   //width: auto;
                   
                }
                @include breakpoint-down(medium){
                    text-align: center;
                    padding: 2.75rem;

                }
            }
        }
    &__grid{
      display: grid;
      grid-template: 1fr;
      gap: 1.5rem;
        padding-top: 1rem;
      
        @include breakpoint-down(medium){
            grid-template-rows: repeat(1 ,1fr);
            width: inherit;

            //height:15rem ;
            
        }
        @include breakpoint(large){
            width: 52.125rem;
            height: 20rem;
            padding: 1.5625rem 5.875rem;
            align-items: center;
            grid-template-columns: repeat( 3, 1fr);
        }
        &__item{
          background-color: var(--lightturquoise);
          &:hover{
            transform: scale(1.05);
                }
          p{
            font-size: var(--font-mid);
            padding: 2rem;
             text-align: center;
           }
           &_2{
             p{
               padding: 1.9rem;
             }
           }
          }
        }
    &__icon{
        position: relative;
        width: 50%;
        height: 30%;
        border-radius: 10px;
        background-color: var(--grey);
        margin: 1rem 2.5rem;
        padding: 1.5rem;
        @include breakpoint-down(medium){
            margin: 1rem auto;
        }
            > i{
                padding: 1rem auto;
                &::before{
                    color: var(--darkturqouise);
                       font-size: 5rem;
                       //margin: 2.5rem;
                       @include breakpoint(medium){
                           margin: 1.5rem;
                       }
                }
            }
        }
 
}
.vision {
    &__title {
      h2 {
        margin: 1.5625rem auto;
  
        @include breakpoint(medium) {
          text-align: left;
        }
      }
      p {
        text-align: left;
        @include breakpoint(medium) {
          text-align: left;
        }
      }
    }
  }

.card{
    display: grid;
    grid-template: 1fr;
    gap: 1.5rem;
    @include breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(medium){
      grid-template-columns: repeat(4, 1fr);
    }
    
    &__image {
        height: 16rem;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0.4375; //7px
    }
    &__text {
        padding: 1.25rem;
    }
    &__title {
        font-size: var(--font-lg);
        padding-bottom: 0.75rem;
      }
      &__description {
        color: var(--lightbrown);
      }
}
