@use '../util/' as *;
 
 .forms{
    height: 50rem;
    background-color: var(--turquoise);
    @include breakpoint-down(medium){
        height: inherit;
    }
    &__band{
        font-size: var(--font-lg);
        @include breakpoint(large){
            position: absolute;
            left: 20%;
        }
        @include breakpoint-down(medium){
            width: inherit;
            //left: 5%;
        }
        &__title{
            font-size: var(--font-lg);
            text-align: center;
            margin-bottom: 1rem;
            color: var(--white);
            p{
                color: var(--white);
            }
        }

    }
    &__row{
         > label{
            display: block;
            margin-bottom: .5rem;
        }
          
    }
}


.messagebox{
    margin-left: 39px;
    @include breakpoint-down(medium){

    }
}
#messagebox{
    background-color: var(--grey);
    //margin: 1rem;
    @include breakpoint(large){
        margin-left: 39px;
    }
}
